.carousel-container {
  overflow: hidden;
  height: 450px;
  padding: 20px;
}
.popular-slide {
  margin: 50px 80px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.font-size {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  padding-left: 25px;
  font-weight: lighter;
}

@media screen and (max-width: 48rem) {
  .popular-slide {
    margin: 20px 30px;
  }
  .carousel-container {
    height: 200px;
    margin-left: 2px;
  }
  .font-size {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
